.content{
  width: 300px;
  text-align: justify;
  margin: 0 auto;
}
.conteiner{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to top,rgba(255,255,255,0.9),rgba(255,255,255,0));
}


/*Exercise3.2*/
.flying_text{
  width: 300px;
  height: 50px;
  border: 1px solid blue;
  text-align: center;
  text-indent: 100%;
  transition-property:text-indent;
  transition-duration: 1s;
  te
}
.flying_text p{
  display: inline-block;
  white-space: nowrap;
}
.flying_text:hover{
  text-indent: 0;
}
